@charset "UTF-8";





@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format(opentype);
}

@font-face {
    font-family: 'Blank Space';
    src: url(fontes/blank\ space.otf); format(opentype);
}


:root {
    --cor0: #F60CDB;
    --cor1: #47206B;
    --cor2: #3C0BD4;
    --cor3: #0C13F6;
    --cor4: #7900EB;
    --cor5: #C081EE;

    --fonte-normal: Arial, Verdana, Helvetica, sans-seriff;
    --fonte-destaque: 'Blank Space', sans-serif;
    --fonte-android: 'Android';


}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor5);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    padding: 65px;
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.1em;
}

header > p {
    color: white;
    font-family: var(--fonte-normal);
    font-weight: 500;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-normal);
    font-weight: 700;
    padding: 8px;
    border-radius: 3px 3px 0px 0px;
    transition-duration: 0.5s;
}

nav > a:hover {
    color: var(--cor3);
    background-color: var(--cor4);
}

article {
    background-color: white;
}