@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format(opentype);
}


@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap')


:root {
    --cor-0:#F60CDB;
    --cor-1:#47206B;
    --cor-2:#3C0BD4;
    --cor-3:#0C13F6;
    --cor-4:#7900EB;
    --cor-5:#C081EE;


    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Tilt Prism', cursive, sans-serif;
    --fonte-android: 'Android', fantasy, serif;
}





:root {
    --cor-0:#F60CDB;
    --cor-1:#47206B;
    --cor-2:#3C0BD4;
    --cor-3:#0C13F6;
    --cor-4:#7900EB;
    --cor-5:#C081EE;


    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Tilt Prism', cursive;
    --fonte-android: 'Android', cursive;
}


*{
    margin: 0px;
    padding:0px;
}



body {
    background-color: var(--cor-5)
}
header {
    background-image: linear-gradient(to bottom, var(--cor-1), var(--cor-2));
    padding: 85px;
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
}
nav {

}
article {

}
#video {

}
aside {

}
footer {

}