@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format(opentype);
}


@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap')




:root {
    --cor0: #F60CDB;
    --cor1: #47206B;
    --cor2: #3C0BD4;
    --cor3: #0C13F6;
    --cor4: #7900EB;
    --cor5: #C081EE;


    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Tilt Prism', cursive, sans-serif;
    --fonte-android: 'Android', fantasy, serif;

}









body {
    background-color: blue
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}
nav {

}
article {

}
#video {

}
aside {

}
footer {

}